<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>$title$</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="icon" type="image/jpg" href="../../images/favicon.jpg">
</head>
<body>
  <header class="header">
    <a class="logo" href="/">home</a>
    <nav>
      <a href="https://github.com/CyberSappers">github</a>
      <a href="/aboutme.html">about</a>
    </nav>
  </header>

  <div class="container">
    <h1 class="title">$title$<br><span class="subtitle" style="font-size: 0.50em;">$date$</span></h1>
    <div class="content">
      $body$
    </div>
  </div>

  <footer>
    <hr>
    <p style="text-align:center; font-size: 0.9em; color: #666;">
      &copy; Devin King – <a href="/">Home</a> | <a href="/blog/">Blog Index</a>
    </p>
  </footer>
<script data-goatcounter="https://cybersappers.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>
